{% extends 'AppBundle::emailsLayout.html.twig' %}
{% block content %}
    <p>
        {{ 'Please verify your email by clicking on the following link:' | trans({}, "email") }}<br>
        <a href="{{ url('verify_email', {'email':user.email, 'token':user.emailVerificationToken}) }}">
            {{ url('verify_email', {'email':user.email, 'token':user.emailVerificationToken}) }}
        </a>
    </p>
{% endblock %}