{{ 'Click on the following link to reset your password:' | trans({}, "email") }} <br />
<a href="{{ url('reset_password', {'email':user.email, 'token':user.changePasswordToken}) }}">
    {{ url('reset_password', {'email':user.email, 'token':user.changePasswordToken}) }}
</a><br />

{{ 'This link is valid for three days.' | trans({}, "email") }}