<div id="resources_container" class="container">
    <ul id="resources">
        <li class="section active">
            <div class="actions">
                <a class="action-show-hide">Show/hide</a>
            </div>
            <h1>Welcome to the API documentation</h1>

            <div class="section-list">
                <h2>General Information about the API:</h2>
                <br>
                <h2>API locales:</h2>
                <p>
                    - Supported locales: ({{ accepted_locales | join(', ') }})<br/>
                    - Default locale: {{ app.request.defaultLocale }}<br/>
                    - To change the current API locale send new header named "accept-language" with one of the supported locales.
                </p>
                <br>
                <h2>General Information about the API responses:</h2>
                <br>
                <p>You must check the HTTP status code returned from any API URL -not the status returned in the content- before parsing the content Because if the server crashed a response with HTTP status code 500 will be returned from the web server and the response content type may be "text/html".</p>
                <p>Currently the API returns json responses "Content-Type: application/json".</p>
                <p>
                    All requests sent to the API must have a header with API key like this one "X-Api-Key: MY_API_KEY" if the header is missing or the token is invalid you will receive a response with content like this one:
                    <pre>
{
    "status": false,
    "code": 403,
    "message": "Invalid api key"
}</pre>
                </p>
                <p>
                    All requests that require logged in user will contain "/auth/" in the url and will require an authorization header like this one "Authorization: Bearer TOKEN_OBTAINED_FROM_LOGIN" if the header is missing or the token is invalid you will receive a response with content like this one:
                    <pre>
{
    "status": false,
    "code": 401,
    "message": "Invalid credentials"
}</pre>
                </p>
                <p>The token sent by the API will expire in exactely {{ jwt_token_ttl }} seconds so make sure you request the login API again to optain a new one after this time.</p>
                <p>
                    If the validation of any parameter sent to the API fails the API will respond with json response with the wrong parameter pointing to the error message like this one:
                    <pre>
{
    "status": false,
    "code": 422,
    "errors": {
        "email": "يجب إدخال القيمة",
        "userPassword": "يجب إدخال القيمة",
        "firstName": "يجب إدخال القيمة",
        "lastName": "يجب إدخال القيمة",
        "nickName": "يجب إدخال القيمة"
    }
}</pre>
                </p>
                <h2>Static pages URLs:</h2>
                <br>
                <p>
                    - /ar/cms/view-page/driver-terms-and-conditions<br/>
                    - /ar/cms/view-page/user-terms-and-conditions<br/>
                    - /ar/cms/view-page/videos-about-driver<br/>
                    - /ar/cms/view-page/videos-about-user<br/>
                    - /ar/cms/view-page/driver-privacy-policy<br/>
                    - /ar/cms/view-page/user-privacy-policy<br/>
                    - /ar/cms/view-page/driver-faq<br/>
                    - /ar/cms/view-page/user-faq<br/>
                </p>
                <p>Thank you for reading until the end.</p>
            </div>
        </li>
    </ul>
</div>